.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

body {
	background-color: black;
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px 20px;
}
p, h1, h2, h4 {
	color: red;
}